In [1]:
import os
import numpy as np
import pandas as pd

In [ ]:
dir = os.listdir('/Volumes/Extreme SSD/gain_yu')

In [3]:
df = pd.read_csv('/Volumes/Extreme SSD/gain_yu/body-0001.txt', sep = ', ')

In [11]:
df.head()

,nodenumber,x-coordinate,y-coordinate,z-coordinate,temperature
0,1,0.000000,7.557143,1.333333,275.776337
1,2,0.329114,7.557143,1.333333,286.181641
2,3,0.329114,7.557143,1.000000,286.181641
3,4,0.000000,7.557143,1.000000,275.776337
4,5,0.000000,7.557143,1.666667,275.776337

In [14]:
df.columns

Index(['nodenumber', '   x-coordinate', '   y-coordinate', '   z-coordinate',
       '    temperature'],
      dtype='object')

In [18]:
len(set(df['   x-coordinate']))

80

In [19]:
len(set(df['   y-coordinate']))

141

In [17]:
len(set(df['   z-coordinate']))

19